**SYPA: Fundamental Analysis of Foreign Direct Investment** <br>
*2_ETL (Extract, Transform, Load)* <br>
Harvard SYPA <br>
User: Jake Schneider <br>
Date Created: February 8, 2020 <br>
Date Updated: February 9, 2020

____

**Load Packages and Libraries**

In [1]:
## Install packages
#
#install.packages("plyr")
#install.packages("dplyr")
#install.packages("tidyverse")
#install.packages("stringr")
#install.packages("readxl")
#install.packages("data.table")
#install.packages("hablar")
#install.packages("naniar")
#install.packages("DataCombine")
#install.packages("panelaggregation")
#install.packages("jsonlite", repos = 'https://cran.r-project.org')

In [2]:
# Load relevant libraries

library(plyr)
library(dplyr)
library(tidyverse)
library(stringr)
library(readxl)
library(data.table)
library(reshape2)
library(hablar)
library(naniar)
library(DataCombine)
library(panelaggregation)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:plyr’:

    arrange, count, desc, failwith, id, mutate, rename, summarise,
    summarize

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──
✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ stringr 1.4.0
✔ tidyr   1.0.2     ✔ forcats 0.4.0
✔ readr   1.3.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::arrange()   masks plyr::arrange()
✖ purrr::compact()   masks plyr::compact()
✖ dplyr::count()     masks plyr::count()
✖ dplyr::failwith()  masks plyr::failwith()
✖ dplyr::filter()    masks stats::filter()
✖ dplyr::id()        masks plyr::id()
✖ dplyr::lag()       masks stats::lag()
✖ dplyr::mutate()    masks plyr::mutate()
✖ dplyr::rename()    masks plyr::rename()
✖ dplyr::summarise() masks plyr::summarise()
✖ dplyr::summarize() masks plyr::summarize()

Attaching package: ‘data.table’

The following object is masked from ‘package:purrr’:

    transpose

The following objects are masked from ‘package:dplyr’:

    between, first, last


Attaching package: ‘reshape2’

The following objects are masked from ‘package:data.table’:

    dcast, melt

The following object is masked from ‘package:tidyr’:

    smiths


Attaching package: ‘hablar’

The following object is masked from ‘package:dplyr’:

    na_if


Attaching package: ‘DataCombine’

The following object is masked from ‘package:data.table’:

    shift

In [3]:
# Setting A Working Directory 

getwd()

#setwd('.')

[1] "/Users/jschneids13/Desktop/Harvard Kennedy School MPA-ID/Semesters/Semester 4, Spring 2020/DEV 250C SYPA/SYPA/1_Scripts/Harvard_SYPA"

----

**Load WDI Data** <br>
Downloaded from World Bank Website <br>
*Note: Will need to be cleaned and transformed*

In [4]:
# Load WDI Data

wdi <- read_csv("../../2_Inputs/WDI_csv/WDIData.csv")

Warning message:
“Missing column names filled in: 'X65' [65]”Parsed with column specification:
cols(
  .default = col_double(),
  `Country Name` = col_character(),
  `Country Code` = col_character(),
  `Indicator Name` = col_character(),
  `Indicator Code` = col_character(),
  X65 = col_logical()
)
See spec(...) for full column specifications.

In [5]:
# View WDI Data

wdi[c(1:5),]

  Country Name Country Code
1 Arab World   ARB
2 Arab World   ARB
3 Arab World   ARB
4 Arab World   ARB
5 Arab World   ARB
  Indicator Name
1 2005 PPP conversion factor, GDP (LCU per international $)
2 2005 PPP conversion factor, private consumption (LCU per international $)
3 Access to clean fuels and technologies for cooking (% of population)
4 Access to electricity (% of population)
5 Access to electricity, rural (% of rural population)
  Indicator Code    1960 1961 1962 1963 1964 1965 ⋯ 2011     2012     2013
1 PA.NUS.PPP.05     NA   NA   NA   NA   NA   NA   ⋯       NA       NA       NA
2 PA.NUS.PRVT.PP.05 NA   NA   NA   NA   NA   NA   ⋯       NA       NA       NA
3 EG.CFT.ACCS.ZS    NA   NA   NA   NA   NA   NA   ⋯ 82.78329 83.12030 83.53346
4 EG.ELC.ACCS.ZS    NA   NA   NA   NA   NA   NA   ⋯ 86.42827 87.07058 88.17684
5 EG.ELC.ACCS.RU.ZS NA   NA   NA   NA   NA   NA   ⋯ 73.94210 75.24410 77.16230
  2014     2015     2016     2017     2018 2019 X65
1       NA       NA       NA       NA NA   NA   NA
2       NA       NA       NA       NA NA   NA   NA
3 83.89760 84.17160 84.51017       NA NA   NA   NA
4 87.34274 89.13012 89.67869 90.27369 NA   NA   NA
5 75.53898 78.74115 79.66564 80.74929 NA   NA   NA

In [6]:
# Subset WDI Data into WDI Individual and WDI Aggregates

wdi_individual = wdi[-c(1:67164),]
wdi_aggregate = wdi[c(1:67164),]

In [7]:
# View WDI Individual and WDI Aggregates

wdi_individual[c(1:5),]
#wdi_aggegate

  Country Name Country Code
1 Afghanistan  AFG
2 Afghanistan  AFG
3 Afghanistan  AFG
4 Afghanistan  AFG
5 Afghanistan  AFG
  Indicator Name
1 2005 PPP conversion factor, private consumption (LCU per international $)
2 Access to clean fuels and technologies for cooking (% of population)
3 Access to electricity (% of population)
4 Access to electricity, rural (% of rural population)
5 Access to electricity, urban (% of urban population)
  Indicator Code    1960 1961 1962 1963 1964 1965 ⋯ 2011     2012     2013
1 PA.NUS.PRVT.PP.05 NA   NA   NA   NA   NA   NA   ⋯       NA       NA       NA
2 EG.CFT.ACCS.ZS    NA   NA   NA   NA   NA   NA   ⋯ 22.33000 24.08000 26.17000
3 EG.ELC.ACCS.ZS    NA   NA   NA   NA   NA   NA   ⋯ 43.22202 69.10000 70.15348
4 EG.ELC.ACCS.RU.ZS NA   NA   NA   NA   NA   NA   ⋯ 29.57288 60.84916 62.87569
5 EG.ELC.ACCS.UR.ZS NA   NA   NA   NA   NA   NA   ⋯ 86.56778 95.00000 92.73573
  2014     2015     2016     2017     2018 2019 X65
1       NA       NA       NA       NA NA   NA   NA
2 27.99000 30.10000 32.44000       NA NA   NA   NA
3 89.50000 71.50000 97.70000 97.70000 NA   NA   NA
4 86.50051 64.57335 97.09936 97.09197 NA   NA   NA
5 98.70000 92.50000 99.50000 99.50000 NA   NA   NA

In [8]:
# Rename Variable Columns and Omit Series Code

colnames(wdi_individual)
setnames(wdi_individual, c("Country Name", "Country Code", "Indicator Name"), c("country", "code", "indicator"))

wdi_individual$`Indicator Code` <- NULL
wdi_individual$X65 <- NULL

colnames(wdi_individual)

 [1] "Country Name"   "Country Code"   "Indicator Name" "Indicator Code"
 [5] "1960"           "1961"           "1962"           "1963"
 [9] "1964"           "1965"           "1966"           "1967"
[13] "1968"           "1969"           "1970"           "1971"
[17] "1972"           "1973"           "1974"           "1975"
[21] "1976"           "1977"           "1978"           "1979"
[25] "1980"           "1981"           "1982"           "1983"
[29] "1984"           "1985"           "1986"           "1987"
[33] "1988"           "1989"           "1990"           "1991"
[37] "1992"           "1993"           "1994"           "1995"
[41] "1996"           "1997"           "1998"           "1999"
[45] "2000"           "2001"           "2002"           "2003"
[49] "2004"           "2005"           "2006"           "2007"
[53] "2008"           "2009"           "2010"           "2011"
[57] "2012"           "2013"           "2014"           "2015"
[61] "2016"           "2017"           "2018"           "2019"
[65] "X65"

 [1] "country"   "code"      "indicator" "1960"      "1961"      "1962"
 [7] "1963"      "1964"      "1965"      "1966"      "1967"      "1968"
[13] "1969"      "1970"      "1971"      "1972"      "1973"      "1974"
[19] "1975"      "1976"      "1977"      "1978"      "1979"      "1980"
[25] "1981"      "1982"      "1983"      "1984"      "1985"      "1986"
[31] "1987"      "1988"      "1989"      "1990"      "1991"      "1992"
[37] "1993"      "1994"      "1995"      "1996"      "1997"      "1998"
[43] "1999"      "2000"      "2001"      "2002"      "2003"      "2004"
[49] "2005"      "2006"      "2007"      "2008"      "2009"      "2010"
[55] "2011"      "2012"      "2013"      "2014"      "2015"      "2016"
[61] "2017"      "2018"      "2019"

In [9]:
# Reshape

wdi_individual = melt(setDT(wdi_individual), id.vars = c("country", "code", "indicator"), variable.name = "date")
wdi_df = dcast(wdi_individual, country + code + date ~ indicator, fun.aggregate = mean)
wdi_df[c(1:5),]

  country     code date
1 Afghanistan AFG  1960
2 Afghanistan AFG  1961
3 Afghanistan AFG  1962
4 Afghanistan AFG  1963
5 Afghanistan AFG  1964
  2005 PPP conversion factor, GDP (LCU per international $)
1 NaN
2 NaN
3 NaN
4 NaN
5 NaN
  2005 PPP conversion factor, private consumption (LCU per international $)
1 NA
2 NA
3 NA
4 NA
5 NA
  Access to clean fuels and technologies for cooking (% of population)
1 NA
2 NA
3 NA
4 NA
5 NA
  Access to electricity (% of population)
1 NA
2 NA
3 NA
4 NA
5 NA
  Access to electricity, rural (% of rural population)
1 NA
2 NA
3 NA
4 NA
5 NA
  Access to electricity, urban (% of urban population)
1 NA
2 NA
3 NA
4 NA
5 NA
  Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+)
1 NA
2 NA
3 NA
4 NA
5 NA
  ⋯
1 ⋯
2 ⋯
3 ⋯
4 ⋯
5 ⋯
  Women participating in the three decisions (own health care, major household purchases, and visiting family) (% of women age 15-49)
1 NA
2 NA
3 NA
4 NA
5 NA
  Women who believe a husband is justified in beating his wife (any of five reasons) (%)
1 NA
2 NA
3 NA
4 NA
5 NA
  Women who believe a husband is justified in beating his wife when she argues with him (%)
1 NA
2 NA
3 NA
4 NA
5 NA
  Women who believe a husband is justified in beating his wife when she burns the food (%)
1 NA
2 NA
3 NA
4 NA
5 NA
  Women who believe a husband is justified in beating his wife when she goes out without telling him (%)
1 NA
2 NA
3 NA
4 NA
5 NA
  Women who believe a husband is justified in beating his wife when she neglects the children (%)
1 NA
2 NA
3 NA
4 NA
5 NA
  Women who believe a husband is justified in beating his wife when she refuses sex with him (%)
1 NA
2 NA
3 NA
4 NA
5 NA
  Women who were first married by age 15 (% of women ages 20-24)
1 NA
2 NA
3 NA
4 NA
5 NA
  Women who were first married by age 18 (% of women ages 20-24)
1 NA
2 NA
3 NA
4 NA
5 NA
  Women's share of population ages 15+ living with HIV (%)
1 NA
2 NA
3 NA
4 NA
5 NA

In [10]:
# Save Transformed WDI Data

#save(wdi_individual, file = "../../2_Inputs/Culled/wdi_df.RData")
write.csv(wdi_df, file = "../../2_Inputs/Culled/wdi_df.csv")

---

**Load UN Comtrade Data** <br>
Downloeaded from the UN Website <br>
*Note: Will need to be cleaned and transformed*

In [11]:
# Read in Comtrade data
# 2019 data not available

comtrade_list = as.character(excel_sheets("../../2_Inputs/UNCTAD/UNCTAD_comtrade_data.xlsx"))

str(comtrade_list)

comtrade = vector("list", length(comtrade_list))

 chr [1:23] "comtrade_1996" "comtrade_1997" "comtrade_1998" "comtrade_1999" ...

In [12]:
# Function to read in data
# Not working right now due to data limits
#jupyter notebook --NotebookApp.iopub_data_rate_limit=10000000000

comtrade_long = data.frame()

for (i in seq_along(comtrade_list)) {
  comtrade <- as.data.frame(lapply(i, read_excel, path = "../../2_Inputs/UNCTAD/UNCTAD_comtrade_data.xlsx"))
  #print(comtrade)
  comtrade_long <- rbind(comtrade_long, comtrade)
  #print(comtrade_long)
}

In [13]:
# Rename Variable Columns and Omit Series Code

colnames(comtrade_long)
comtrade_long <- comtrade_long[c(2, 8, 10:11, 32)]
setnames(comtrade_long, c("Year", "Reporter", "Reporter.ISO", "Trade.Value..US..", "Trade.Flow"), c("date", "country", "code", "value", "indicator"))
colnames(comtrade_long)

comtrade_long

 [1] "Classification"         "Year"                   "Period"
 [4] "Period.Desc."           "Aggregate.Level"        "Is.Leaf.Code"
 [7] "Trade.Flow.Code"        "Trade.Flow"             "Reporter.Code"
[10] "Reporter"               "Reporter.ISO"           "Partner.Code"
[13] "Partner"                "Partner.ISO"            "X2nd.Partner.Code"
[16] "X2nd.Partner"           "X2nd.Partner.ISO"       "Customs.Proc..Code"
[19] "Customs"                "Mode.of.Transport.Code" "Mode.of.Transport"
[22] "Commodity.Code"         "Commodity"              "Qty.Unit.Code"
[25] "Qty.Unit"               "Qty"                    "Alt.Qty.Unit.Code"
[28] "Alt.Qty.Unit"           "Alt.Qty"                "Netweight..kg."
[31] "Gross.weight..kg."      "Trade.Value..US.."      "CIF.Trade.Value..US.."
[34] "FOB.Trade.Value..US.."  "Flag"

[1] "date"      "indicator" "country"   "code"      "value"

     date indicator country                          code value
1    1996 Import    Albania                          ALB     938481792
2    1996 Export    Albania                          ALB     211140400
3    1996 Import    Algeria                          DZA    9105595392
4    1996 Export    Algeria                          DZA   11099222016
5    1996 Import    Andorra                          AND    1061358400
6    1996 Export    Andorra                          AND      46242984
7    1996 Import    Argentina                        ARG   23761555456
8    1996 Export    Argentina                        ARG   23809628160
9    1996 Import    Australia                        AUS   61400054057
10   1996 Export    Australia                        AUS   60206784511
11   1996 Re-Export Australia                        AUS    2862274826
12   1996 Import    Austria                          AUT   67283750912
13   1996 Export    Austria                          AUT   57830457344
14   1996 Import    Belgium-Luxembourg               BEL  157996204032
15   1996 Export    Belgium-Luxembourg               BEL  168343584768
16   1996 Import    Bulgaria                         BGR    5073922048
17   1996 Export    Bulgaria                         BGR    4890187776
18   1996 Import    Canada                           CAN  170605558987
19   1996 Export    Canada                           CAN  202262551209
20   1996 Import    China                            CHN  138832734845
21   1996 Export    China                            CHN  151047461759
22   1996 Import    Colombia                         COL   13680470016
23   1996 Export    Colombia                         COL   10647555072
24   1996 Import    Cyprus                           CYP    3981867520
25   1996 Export    Cyprus                           CYP    1390613376
26   1996 Re-Export Cyprus                           CYP     901209984
27   1996 Import    Czechia                          CZE   27717294080
28   1996 Export    Czechia                          CZE   21907320832
29   1996 Import    Denmark                          DNK   43126353920
30   1996 Export    Denmark                          DNK   48884543488
⋮    ⋮    ⋮         ⋮                                ⋮    ⋮
8885 2018 Import    Nigeria                          NGA   43011523214
8886 2018 Export    Nigeria                          NGA   62399742736
8887 2018 Import    Philippines                      PHL  115038000000
8888 2018 Export    Philippines                      PHL   67487668298
8889 2018 Import    Qatar                            QAT   31696087963
8890 2018 Export    Qatar                            QAT   73985198633
8891 2018 Re-Export Qatar                            QAT    4833894219
8892 2018 Import    Saudi Arabia                     SAU  135211000000
8893 2018 Export    Saudi Arabia                     SAU  294536000000
8894 2018 Re-Export Saudi Arabia                     SAU    8688081069
8895 2018 Import    Senegal                          SEN    8071904205
8896 2018 Export    Senegal                          SEN    3623445206
8897 2018 Import    Ukraine                          UKR   56837738045
8898 2018 Export    Ukraine                          UKR   47373440589
8899 2018 Import    Egypt                            EGY   80992321738
8900 2018 Export    Egypt                            EGY   29383961546
8901 2018 Import    Samoa                            WSM     362883715
8902 2018 Export    Samoa                            WSM      46101305
8903 2018 Import    Antigua and Barbuda              ATG     804416813
8904 2018 Export    Antigua and Barbuda              ATG      16772312
8905 2018 Re-Export Antigua and Barbuda              ATG      14910751
8906 2018 Import    Guyana                           GUY    3997940041
8907 2018 Export    Guyana                           GUY    1487342206
8908 2018 Re-Export Guyana                           GUY      37705664
8909 2018 Import    Saint Vincent and the Grenadines VCT     353627074
8910 2018 Export    Saint Vincent and the Grenadines VCT      43665885
8911 2018 Re-Export Saint Vincent and the Grenadines VCT       4749465
8912 2018 Import    Barbados                         BRB    1599911169
8913 2018 Export    Barbados                         BRB     457709750
8914 2018 Re-Export Barbados                         BRB     202385750

In [14]:
# Reshape

comtrade_wide = dcast(comtrade_long, country + code + date ~ indicator, value.var = "value")

# Rename Data Set as Final

comtrade_df = comtrade_wide

In [15]:
#View Comtrade

comtrade_df[c(0:5),]

  country     code date Export    Import     Re-Export Re-Import
1 Afghanistan AFG  2008 540065594 3019860129 NA        NA
2 Afghanistan AFG  2009 403441006 3336434781 NA        NA
3 Afghanistan AFG  2010 388483635 5154249867 NA        NA
4 Afghanistan AFG  2011 375850935 6390310947 NA        NA
5 Afghanistan AFG  2012 428902710 6204984101 NA        NA

In [16]:
# Save Transformed Comtrade Data

write.csv(comtrade_df, file = "../../2_Inputs/Culled/comtrade_df.csv")

----

**Load Culled Countries List** <br>
Culled from 1_API

In [17]:
# Read countries_df csv file

country_df = read.csv(file = "../../2_Inputs/Culled/country_df.csv")
country_df$X = NULL

country_df = country_df %>% 
  rename(
    code = id
    )

country_df[c(1:5),]

  code iso2Code country        region
1 AFG  AF       Afghanistan    South Asia
2 ALB  AL       Albania        Europe & Central Asia
3 DZA  DZ       Algeria        Middle East & North Africa
4 ASM  AS       American Samoa East Asia & Pacific
5 AND  AD       Andorra        Europe & Central Asia
  adminregion                                        incomeLevel
1 South Asia                                         Low income
2 Europe & Central Asia (excluding high income)      Upper middle income
3 Middle East & North Africa (excluding high income) Upper middle income
4 East Asia & Pacific (excluding high income)        Upper middle income
5                                                    High income
  lendingType    capitalCity      longitude  latitude
1 IDA            Kabul              69.17610  34.5228
2 IBRD           Tirane             19.81720  41.3317
3 IBRD           Algiers             3.05097  36.7397
4 Not classified Pago Pago        -170.69100 -14.2846
5 Not classified Andorra la Vella    1.52180  42.5075

----

**Load Culled Data Sets: Doing Business, WGI, Debt, CPIA, Bureaucracy, ESG** <br>
Culled from 1_API

In [18]:
# Read bureaucracy_df csv file

bureaucracy_df = read.csv(file = "../../2_Inputs/Culled/bureaucracy_df.csv")
bureaucracy_df[c(1:5),]

  country     date Public.sector.employment.as.a.share.of.formal.employment
1 Afghanistan 2016 NA
2 Afghanistan 2015 NA
3 Afghanistan 2014 NA
4 Afghanistan 2013 NA
5 Afghanistan 2012 NA
  Public.sector.employment.as.a.share.of.paid.employment.by.gender..Female.
1 NA
2 NA
3 NA
4 NA
5 NA
  Public.sector.employment.as.a.share.of.paid.employment.by.gender..Male.
1 NA
2 NA
3 NA
4 NA
5 NA
  Public.sector.employment.as.a.share.of.paid.employment.by.location..Rural.
1 NA
2 NA
3 NA
4 NA
5 NA
  Public.sector.employment.as.a.share.of.paid.employment.by.location..Urban.
1 NA
2 NA
3 NA
4 NA
5 NA
  Public.sector.employment.as.a.share.of.paid.employment
1 NA
2 NA
3 NA
4 NA
5 NA
  Number.of.employed.individuals
1 NA
2 NA
3 NA
4 NA
5 NA
  Public.sector.employment.as.a.share.of.total.employment.by.gender..Female. ⋯
1 NA                                                                         ⋯
2 NA                                                                         ⋯
3 NA                                                                         ⋯
4 NA                                                                         ⋯
5 NA                                                                         ⋯
  Relative.wage.of.Professionals.in.private.sector..using.clerk.as.reference.
1 NA
2 NA
3 NA
4 NA
5 NA
  Relative.wage.of.Senior.officials.in.private.sector..using.clerk.as.reference.
1 NA
2 NA
3 NA
4 NA
5 NA
  Relative.wage.of.Technicians.in.private.sector...using.clerk.as.reference.
1 NA
2 NA
3 NA
4 NA
5 NA
  Female.to.male.wage.ratio.in.the.public.sector..using.median.
1 NA
2 NA
3 NA
4 NA
5 NA
  Female.to.male.wage.ratio.in.the.public.sector..using.mean.
1 NA
2 NA
3 NA
4 NA
5 NA
  Relative.wage.of.Professionals.in.public.sector..using.clerk.as.reference.
1 NA
2 NA
3 NA
4 NA
5 NA
  Relative.wage.of.Senior.officials.in.public.sector..using.clerk.as.reference.
1 NA
2 NA
3 NA
4 NA
5 NA
  Relative.wage.of.Technicians.in.public.sector..using.clerk.as.reference.
1 NA
2 NA
3 NA
4 NA
5 NA
  Wage.bill.as.a.percentage.of.GDP
1 NA
2 NA
3 NA
4 NA
5 NA
  Wage.bill.as.a.percentage.of.Public.Expenditure
1 NA
2 NA
3 NA
4 NA
5 NA

In [19]:
# Read cpia_df csv file

cpia_df = read.csv(file = "../../2_Inputs/Culled/cpia_df.csv")
cpia_df[c(1:5),]

  country date CPIA.business.regulatory.environment.rating..1.low.to.6.high.
1 Aruba   2019 NA
2 Aruba   2018 NA
3 Aruba   2017 NA
4 Aruba   2016 NA
5 Aruba   2015 NA
  CPIA.debt.policy.rating..1.low.to.6.high.
1 NA
2 NA
3 NA
4 NA
5 NA
  CPIA.economic.management.cluster.average..1.low.to.6.high.
1 NA
2 NA
3 NA
4 NA
5 NA
  CPIA.policy.and.institutions.for.environmental.sustainability.rating..1.low.to.6.high.
1 NA
2 NA
3 NA
4 NA
5 NA
  CPIA.quality.of.budgetary.and.financial.management.rating..1.low.to.6.high.
1 NA
2 NA
3 NA
4 NA
5 NA
  CPIA.financial.sector.rating..1.low.to.6.high.
1 NA
2 NA
3 NA
4 NA
5 NA
  CPIA.fiscal.policy.rating..1.low.to.6.high.
1 NA
2 NA
3 NA
4 NA
5 NA
  CPIA.gender.equality.rating..1.low.to.6.high. ⋯
1 NA                                            ⋯
2 NA                                            ⋯
3 NA                                            ⋯
4 NA                                            ⋯
5 NA                                            ⋯
  CPIA.quality.of.public.administration.rating..1.low.to.6.high.
1 NA
2 NA
3 NA
4 NA
5 NA
  CPIA.equity.of.public.resource.use.rating..1.low.to.6.high.
1 NA
2 NA
3 NA
4 NA
5 NA
  CPIA.property.rights.and.rule.based.governance.rating..1.low.to.6.high.
1 NA
2 NA
3 NA
4 NA
5 NA
  CPIA.social.protection.rating..1.low.to.6.high.
1 NA
2 NA
3 NA
4 NA
5 NA
  CPIA.public.sector.management.and.institutions.cluster.average..1.low.to.6.high.
1 NA
2 NA
3 NA
4 NA
5 NA
  CPIA.efficiency.of.revenue.mobilization.rating..1.low.to.6.high.
1 NA
2 NA
3 NA
4 NA
5 NA
  CPIA.policies.for.social.inclusion.equity.cluster.average..1.low.to.6.high.
1 NA
2 NA
3 NA
4 NA
5 NA
  CPIA.structural.policies.cluster.average..1.low.to.6.high.
1 NA
2 NA
3 NA
4 NA
5 NA
  CPIA.trade.rating..1.low.to.6.high.
1 NA
2 NA
3 NA
4 NA
5 NA
  CPIA.transparency..accountability..and.corruption.in.the.public.sector.rating..1.low.to.6.high.
1 NA
2 NA
3 NA
4 NA
5 NA

In [20]:
# Read debt_df csv file

debt_df = read.csv(file = "../../2_Inputs/Culled/debt_df.csv")
debt_df = debt_df[debt_df$date <= 2019,] 
debt_df[c(60:65),]

   country     date
60 Afghanistan 2019
68 Albania     1960
69 Albania     1961
70 Albania     1962
71 Albania     1963
72 Albania     1964
   Imports.of.goods..services.and.primary.income..BoP..current.US..
60 NA
68 NA
69 NA
70 NA
71 NA
72 NA
   Current.account.balance..BoP..current.US..
60 NA
68 NA
69 NA
70 NA
71 NA
72 NA
   Grants..excluding.technical.cooperation..current.US..
60 NA
68 NA
69 NA
70 NA
71 NA
72 NA
   Technical.cooperation.grants..current.US..
60 NA
68 NA
69 NA
70 NA
71 NA
72 NA
   Exports.of.goods..services.and.primary.income..BoP..current.US..
60 NA
68 NA
69 NA
70 NA
71 NA
72 NA
   Foreign.direct.investment..net.inflows.in.reporting.economy..DRS..current.US..
60 NA
68 NA
69 NA
70 NA
71 NA
72 NA
   Primary.income.on.FDI..current.US..
60 NA
68 NA
69 NA
70 NA
71 NA
72 NA
   Portfolio.investment..equity..DRS..current.US.. ⋯
60 NA                                              ⋯
68 NA                                              ⋯
69 NA                                              ⋯
70 NA                                              ⋯
71 NA                                              ⋯
72 NA                                              ⋯
   PRVG..private.creditors..TDS..current.US..
60 NA
68 NA
69 NA
70 NA
71 NA
72 NA
   PS..private.creditors..TDS..current.US..
60 NA
68 NA
69 NA
70 NA
71 NA
72 NA
   Total.amount.of.debt.rescheduled..current.US..
60 NA
68 NA
69 NA
70 NA
71 NA
72 NA
   Undisbursed.external.debt..total..UND..current.US..
60 NA
68 NA
69 NA
70 NA
71 NA
72 NA
   Undisbursed.external.debt..official.creditors..UND..current.US..
60 NA
68 NA
69 NA
70 NA
71 NA
72 NA
   Undisbursed.external.debt..private.creditors..UND..current.US..
60 NA
68 NA
69 NA
70 NA
71 NA
72 NA
   Total.reserves..includes.gold..current.US..
60 NA
68 NA
69 NA
70 NA
71 NA
72 NA
   Total.reserves....of.total.external.debt.
60 NA
68 NA
69 NA
70 NA
71 NA
72 NA
   Total.reserves.in.months.of.imports GNI..current.US..
60 NA                                  NA
68 NA                                  NA
69 NA                                  NA
70 NA                                  NA
71 NA                                  NA
72 NA                                  NA

In [21]:
# Read doing_business_df csv file

doing_business_df = read.csv(file = "../../2_Inputs/Culled/doing_business_df.csv")
doing_business_df = doing_business_df[doing_business_df$date <= 2019,] 
doing_business_df[c(60:65),]

   country     date
60 Afghanistan 2019
62 Albania     1960
63 Albania     1961
64 Albania     1962
65 Albania     1963
66 Albania     1964
   Enforcing.contracts..Alternative.dispute.resolution..0.3...DB16.20.methodology.
60  2
62 NA
63 NA
64 NA
65 NA
66 NA
   Enforcing.contracts..Attorney.fees....of.claim.
60 24
62 NA
63 NA
64 NA
65 NA
66 NA
   Enforcing.contracts..Cost....of.claim.
60 29
62 NA
63 NA
64 NA
65 NA
66 NA
   Enforcing.contracts..Cost....of.claim....Score
60 67.49156
62       NA
63       NA
64       NA
65       NA
66       NA
   Enforcing.contracts..Case.management..0.6...DB16.20.methodology.
60  1
62 NA
63 NA
64 NA
65 NA
66 NA
   Enforcing.contracts..Court.automation..0.4...DB17.20.methodology.
60  0
62 NA
63 NA
64 NA
65 NA
66 NA
   Enforcing.contracts..Court.fees....of.claim.
60  5
62 NA
63 NA
64 NA
65 NA
66 NA
   Enforcing.contracts..Court.structure.and.proceedings..0.5...DB16.methodology.
60 NA
62 NA
63 NA
64 NA
65 NA
66 NA
   ⋯
60 ⋯
62 ⋯
63 ⋯
64 ⋯
65 ⋯
66 ⋯
   Trading.across.borders..Cost.to.import..US..per.container.deflated..DB06.15.methodology.
60 NA
62 NA
63 NA
64 NA
65 NA
66 NA
   Trading.across.borders..Cost.to.import..US..per.container..DB06.15.methodology....Score
60 NA
62 NA
63 NA
64 NA
65 NA
66 NA
   Trading.across.borders..Cost.to.import..Documentary.compliance..USD...DB16.20.methodology.
60 900
62  NA
63  NA
64  NA
65  NA
66  NA
   Trading.across.borders..Cost.to.import..Documentary.compliance..USD...DB16.20.methodology....Score
60  0
62 NA
63 NA
64 NA
65 NA
66 NA
   Time.to.import..Documentary.compliance..hours...DB16.20.methodology.
60 324
62  NA
63  NA
64  NA
65  NA
66  NA
   Time.to.import..days...DB06.15.methodology.
60 NA
62 NA
63 NA
64 NA
65 NA
66 NA
   Trading.across.borders..Time.to.import..Border.compliance..hours...DB16.20.methodology....Score
60 65.94982
62       NA
63       NA
64       NA
65       NA
66       NA
   Trading.across.borders..Time.to.import..Documentary.compliance..hours...DB16.20.methodology....Score
60  0
62 NA
63 NA
64 NA
65 NA
66 NA
   Trading.across.borders..Time.to.import..days...DB06.15.methodology....Score
60 NA
62 NA
63 NA
64 NA
65 NA
66 NA
   Rank..Trading.across.borders..1.most.business.friendly.regulations.
60 NA
62 NA
63 NA
64 NA
65 NA
66 NA

In [22]:
# Read esg_df csv file

esg_df = read.csv(file = "../../2_Inputs/Culled/esg_df.csv")
esg_df = esg_df[esg_df$date <= 2019,] 
esg_df[c(1:5),]

  country     date Agricultural.land....of.land.area.
1 Afghanistan 1960       NA
2 Afghanistan 1961 57.74592
3 Afghanistan 1962 57.83782
4 Afghanistan 1963 57.91441
5 Afghanistan 1964 58.01091
  Forest.area....of.land.area. Food.production.index..2004.2006...100.
1 NA                              NA
2 NA                           53.21
3 NA                           53.86
4 NA                           53.83
5 NA                           58.23
  Control.of.Corruption..Estimate
1 NA
2 NA
3 NA
4 NA
5 NA
  Access.to.clean.fuels.and.technologies.for.cooking....of.population.
1 NA
2 NA
3 NA
4 NA
5 NA
  Energy.intensity.level.of.primary.energy..MJ..2011.PPP.GDP.
1 NA
2 NA
3 NA
4 NA
5 NA
  Access.to.electricity....of.population.
1 NA
2 NA
3 NA
4 NA
5 NA
  Electricity.production.from.coal.sources....of.total. ⋯
1 NA                                                    ⋯
2 NA                                                    ⋯
3 NA                                                    ⋯
4 NA                                                    ⋯
5 NA                                                    ⋯
  Labor.force.participation.rate..total....of.total.population.ages.15.64...modeled.ILO.estimate.
1 NA
2 NA
3 NA
4 NA
5 NA
  Ratio.of.female.to.male.labor.force.participation.rate......modeled.ILO.estimate.
1 NA
2 NA
3 NA
4 NA
5 NA
  Unemployment..total....of.total.labor.force...modeled.ILO.estimate.
1 NA
2 NA
3 NA
4 NA
5 NA
  Net.migration Prevalence.of.undernourishment....of.population.
1     NA        NA
2     NA        NA
3 -20000        NA
4     NA        NA
5     NA        NA
  Life.expectancy.at.birth..total..years.
1 32.446
2 32.962
3 33.471
4 33.971
5 34.463
  Fertility.rate..total..births.per.woman.
1 7.45
2 7.45
3 7.45
4 7.45
5 7.45
  Population.ages.65.and.above....of.total.population.
1 2.798308
2 2.808131
3 2.804113
4 2.786171
5 2.754223
  Unmet.need.for.contraception....of.married.women.ages.15.49.
1 NA
2 NA
3 NA
4 NA
5 NA
  Voice.and.Accountability..Estimate
1 NA
2 NA
3 NA
4 NA
5 NA

In [23]:
# Read wgi_df csv file

wgi_df = read.csv(file = "../../2_Inputs/Culled/wgi_df.csv")
wgi_df[c(1:5),]

  country date Control.of.Corruption..Estimate
1 Aruba   2018 1.252027
2 Aruba   2017 1.291643
3 Aruba   2016 1.285848
4 Aruba   2015 1.297111
5 Aruba   2014 1.018918
  Control.of.Corruption..Number.of.Sources
1 2
2 2
3 2
4 2
5 2
  Control.of.Corruption..Percentile.Rank
1 87.01923
2 87.98077
3 89.42308
4 88.46154
5 81.73077
  Control.of.Corruption..Percentile.Rank..Lower.Bound.of.90..Confidence.Interval
1 79.32692
2 79.80769
3 76.92308
4 76.92308
5 69.23077
  Control.of.Corruption..Percentile.Rank..Upper.Bound.of.90..Confidence.Interval
1 92.30769
2 92.30769
3 92.78846
4 92.78846
5 90.86539
  Control.of.Corruption..Standard.Error Government.Effectiveness..Estimate
1 0.2826696                             1.0583920
2 0.2823816                             0.9177416
3 0.3071863                             0.8932294
4 0.2905574                             0.8835687
5 0.3047443                             0.8916514
  Government.Effectiveness..Number.of.Sources ⋯
1 2                                           ⋯
2 2                                           ⋯
3 2                                           ⋯
4 2                                           ⋯
5 2                                           ⋯
  Regulatory.Quality..Percentile.Rank
1 77.88461
2 84.13461
3 88.94231
4 90.38461
5 88.46154
  Regulatory.Quality..Percentile.Rank..Lower.Bound.of.90..Confidence.Interval
1 62.01923
2 72.11539
3 75.48077
4 76.44231
5 73.07692
  Regulatory.Quality..Percentile.Rank..Upper.Bound.of.90..Confidence.Interval
1 90.38461
2 94.71154
3 98.07692
4 99.03846
5 97.11539
  Regulatory.Quality..Standard.Error Voice.and.Accountability..Estimate
1 0.3641367                          1.305925
2 0.3507003                          1.294318
3 0.3596922                          1.279304
4 0.3363636                          1.273942
5 0.3530255                          1.276822
  Voice.and.Accountability..Number.of.Sources
1 1
2 1
3 1
4 1
5 1
  Voice.and.Accountability..Percentile.Rank
1 91.62562
2 92.61084
3 92.11823
4 91.62562
5 92.11823
  Voice.and.Accountability..Percentile.Rank..Lower.Bound.of.90..Confidence.Interval
1 77.33990
2 73.89162
3 71.92118
4 72.41380
5 71.92118
  Voice.and.Accountability..Percentile.Rank..Upper.Bound.of.90..Confidence.Interval
1  99.50739
2 100.00000
3 100.00000
4 100.00000
5 100.00000
  Voice.and.Accountability..Standard.Error
1 0.2493472
2 0.2823006
3 0.2914420
4 0.2764198
5 0.2671471

----

**Load and Transform Bloomberg Data**

In [24]:
# Read bloomberg csv file

bloomberg_df = read_excel("../../2_Inputs/Bloomberg/FDI Input Data.xlsx", sheet = "CSDR")
bloomberg_df[c(1:5),]

  Country     Country Code Indicator 1969 1970 1971 1972 1973 1974 1975 ⋯ 2010
1 Afghanistan AFG          sp        NA   NA   NA   NA   NA   NA   NA   ⋯ NA
2 Afghanistan AFG          mdy       NA   NA   NA   NA   NA   NA   NA   ⋯ NA
3 Afghanistan AFG          fitch     NA   NA   NA   NA   NA   NA   NA   ⋯ NA
4 Albania     ALB          sp        NA   NA   NA   NA   NA   NA   NA   ⋯ NA
5 Albania     ALB          mdy       NA   NA   NA   NA   NA   NA   NA   ⋯ 15
  2011 2012 2013 2014 2015 2016 2017 2018 2019
1 NA   NA   NA   NA   NA   NA   NA   NA   NA
2 NA   NA   NA   NA   NA   NA   NA   NA   NA
3 NA   NA   NA   NA   NA   NA   NA   NA   NA
4 16   16   16   17   17   17   16   16   NA
5 15   15   15   15   15   15   15   15   NA

In [25]:
# Rename variables

setnames(bloomberg_df, c("Country", "Country Code", "Indicator"), c("country", "code", "indicator"))
bloomberg_df[c(1:5),]

  country     code indicator 1969 1970 1971 1972 1973 1974 1975 ⋯ 2010 2011
1 Afghanistan AFG  sp        NA   NA   NA   NA   NA   NA   NA   ⋯ NA   NA
2 Afghanistan AFG  mdy       NA   NA   NA   NA   NA   NA   NA   ⋯ NA   NA
3 Afghanistan AFG  fitch     NA   NA   NA   NA   NA   NA   NA   ⋯ NA   NA
4 Albania     ALB  sp        NA   NA   NA   NA   NA   NA   NA   ⋯ NA   16
5 Albania     ALB  mdy       NA   NA   NA   NA   NA   NA   NA   ⋯ 15   15
  2012 2013 2014 2015 2016 2017 2018 2019
1 NA   NA   NA   NA   NA   NA   NA   NA
2 NA   NA   NA   NA   NA   NA   NA   NA
3 NA   NA   NA   NA   NA   NA   NA   NA
4 16   16   17   17   17   16   16   NA
5 15   15   15   15   15   15   15   NA

In [26]:
# Reshape: Melt

bloomberg_df = melt(setDT(bloomberg_df), id.vars = c("country", "code", "indicator"), variable.name = "date")
bloomberg_df[c(30200:30220),]

Warning message in melt.data.table(setDT(bloomberg_df), id.vars = c("country", "code", :
“'measure.vars' [1969, 1970, 1971, 1972, ...] are not all of the same type. By order of hierarchy, the molten data value column will be of type 'character'. All measure variables not of type 'character' will be coerced too. Check DETAILS in ?melt.data.table for more on coercion.”

   country          code indicator date value
1  Chad             TCD  mdy       2015 NA
2  Chad             TCD  fitch     2015 NA
3  Channel Islands  CHI  sp        2015 NA
4  Channel Islands  CHI  mdy       2015 NA
5  Channel Islands  CHI  fitch     2015 NA
6  Chile            CHL  sp        2015 6
7  Chile            CHL  mdy       2015 4
8  Chile            CHL  fitch     2015 7
9  China            CHN  sp        2015 6
10 China            CHN  mdy       2015 4
11 China            CHN  fitch     2015 7
12 Colombia         COL  sp        2015 11
13 Colombia         COL  mdy       2015 9
14 Colombia         COL  fitch     2015 11
15 Comoros          COM  sp        2015 NA
16 Comoros          COM  mdy       2015 NA
17 Comoros          COM  fitch     2015 NA
18 Congo, Dem. Rep. COD  sp        2015 18
19 Congo, Dem. Rep. COD  mdy       2015 17
20 Congo, Dem. Rep. COD  fitch     2015 NA
21 Congo, Rep.      COG  sp        2015 16

In [27]:
# Set as Numeric

str(bloomberg_df$value)
bloomberg_df$value = as.numeric(as.character(bloomberg_df$value))
str(bloomberg_df$value)

 chr [1:33354] NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA ...
 num [1:33354] NA NA NA NA NA NA NA NA NA NA ...

In [28]:
# Reshape: Cast

bloomberg_df <- dcast(bloomberg_df, country + code + date ~ indicator, mean, value.var = "value")
bloomberg_df[c(1000:1010),]

     country code date fitch mdy sp
1000 Belize  BLZ  1999 NA    NA  NA
1001 Belize  BLZ  2000 NA    NA  NA
1002 Belize  BLZ  2001 NA    NA  14
1003 Belize  BLZ  2002 NA    NA  15
1004 Belize  BLZ  2003 NA    12  16
1005 Belize  BLZ  2004 NA    13  16
1006 Belize  BLZ  2005 NA    16  18
1007 Belize  BLZ  2006 NA    20  21
1008 Belize  BLZ  2007 NA    20  NA
1009 Belize  BLZ  2008 NA    18  17
1010 Belize  BLZ  2009 NA    18  17

In [29]:
# Create Average csdr

bloomberg_df$csdr_avg <- rowMeans(bloomberg_df[,c("fitch", "mdy", "sp")], na.rm = TRUE)
bloomberg_df[c(1000:1010),]

     country code date fitch mdy sp csdr_avg
1000 Belize  BLZ  1999 NA    NA  NA  NaN
1001 Belize  BLZ  2000 NA    NA  NA  NaN
1002 Belize  BLZ  2001 NA    NA  14 14.0
1003 Belize  BLZ  2002 NA    NA  15 15.0
1004 Belize  BLZ  2003 NA    12  16 14.0
1005 Belize  BLZ  2004 NA    13  16 14.5
1006 Belize  BLZ  2005 NA    16  18 17.0
1007 Belize  BLZ  2006 NA    20  21 20.5
1008 Belize  BLZ  2007 NA    20  NA 20.0
1009 Belize  BLZ  2008 NA    18  17 17.5
1010 Belize  BLZ  2009 NA    18  17 17.5

In [30]:
# Clean csdr_avg

bloomberg_df$csdr_avg <- as.numeric(bloomberg_df$csdr_avg)
bloomberg_df$csdr_avg[is.nan(bloomberg_df$csdr_avg)] <- NA
bloomberg_df[c(1000:1010),]

     country code date fitch mdy sp csdr_avg
1000 Belize  BLZ  1999 NA    NA  NA   NA
1001 Belize  BLZ  2000 NA    NA  NA   NA
1002 Belize  BLZ  2001 NA    NA  14 14.0
1003 Belize  BLZ  2002 NA    NA  15 15.0
1004 Belize  BLZ  2003 NA    12  16 14.0
1005 Belize  BLZ  2004 NA    13  16 14.5
1006 Belize  BLZ  2005 NA    16  18 17.0
1007 Belize  BLZ  2006 NA    20  21 20.5
1008 Belize  BLZ  2007 NA    20  NA 20.0
1009 Belize  BLZ  2008 NA    18  17 17.5
1010 Belize  BLZ  2009 NA    18  17 17.5

In [31]:
# Save bloomberg_df

write.csv(bloomberg_df, file = "../../2_Inputs/Culled/bloomberg_df.csv")

---

**Merge Data Sets**

In [32]:
# Merge Country_df and WDI

country_wdi_df <- join(country_df, wdi_df, by = c("code"), type = "left", match = "all")

In [33]:
# View country_wdi_df

country_wdi_df[11] = NULL
country_wdi_df[c(1:5, 60:65), c(1:3,8:12, 100:120)]

   code iso2Code country     capitalCity longitude latitude date
1  AFG  AF       Afghanistan Kabul       69.1761   34.5228  1960
2  AFG  AF       Afghanistan Kabul       69.1761   34.5228  1961
3  AFG  AF       Afghanistan Kabul       69.1761   34.5228  1962
4  AFG  AF       Afghanistan Kabul       69.1761   34.5228  1963
5  AFG  AF       Afghanistan Kabul       69.1761   34.5228  1964
60 AFG  AF       Afghanistan Kabul       69.1761   34.5228  2019
61 ALB  AL       Albania     Tirane      19.8172   41.3317  1960
62 ALB  AL       Albania     Tirane      19.8172   41.3317  1961
63 ALB  AL       Albania     Tirane      19.8172   41.3317  1962
64 ALB  AL       Albania     Tirane      19.8172   41.3317  1963
65 ALB  AL       Albania     Tirane      19.8172   41.3317  1964
   2005 PPP conversion factor, GDP (LCU per international $)
1  NaN
2  NaN
3  NaN
4  NaN
5  NaN
60 NaN
61  NA
62  NA
63  NA
64  NA
65  NA
   Antiretroviral therapy coverage (% of people living with HIV)
1  NA
2  NA
3  NA
4  NA
5  NA
60 NA
61 NA
62 NA
63 NA
64 NA
65 NA
   Antiretroviral therapy coverage for PMTCT (% of pregnant women living with HIV)
1  NA
2  NA
3  NA
4  NA
5  NA
60 NA
61 NA
62 NA
63 NA
64 NA
65 NA
   ⋯ Automated teller machines (ATMs) (per 100,000 adults)
1  ⋯ NA
2  ⋯ NA
3  ⋯ NA
4  ⋯ NA
5  ⋯ NA
60 ⋯ NA
61 ⋯ NA
62 ⋯ NA
63 ⋯ NA
64 ⋯ NA
65 ⋯ NA
   Average number of visits or required meetings with tax officials (for affected firms)
1  NA
2  NA
3  NA
4  NA
5  NA
60 NA
61 NA
62 NA
63 NA
64 NA
65 NA
   Average precipitation in depth (mm per year)
1    NA
2    NA
3   327
4    NA
5    NA
60   NA
61   NA
62   NA
63 1485
64   NA
65   NA
   Average time to clear exports through customs (days)
1  NA
2  NA
3  NA
4  NA
5  NA
60 NA
61 NA
62 NA
63 NA
64 NA
65 NA
   Average transaction cost of sending remittances from a specific country (%)
1  NA
2  NA
3  NA
4  NA
5  NA
60 NA
61 NA
62 NA
63 NA
64 NA
65 NA
   Average transaction cost of sending remittances to a specific country (%)
1  NA
2  NA
3  NA
4  NA
5  NA
60 NA
61 NA
62 NA
63 NA
64 NA
65 NA
   Average working hours of children, study and work, ages 7-14 (hours per week)
1  NA
2  NA
3  NA
4  NA
5  NA
60 NA
61 NA
62 NA
63 NA
64 NA
65 NA
   Average working hours of children, study and work, female, ages 7-14 (hours per week)
1  NA
2  NA
3  NA
4  NA
5  NA
60 NA
61 NA
62 NA
63 NA
64 NA
65 NA
   Average working hours of children, study and work, male, ages 7-14 (hours per week)
1  NA
2  NA
3  NA
4  NA
5  NA
60 NA
61 NA
62 NA
63 NA
64 NA
65 NA
   Average working hours of children, working only, ages 7-14 (hours per week)
1  NA
2  NA
3  NA
4  NA
5  NA
60 NA
61 NA
62 NA
63 NA
64 NA
65 NA

In [34]:
# Merge Country_wdi_df and comtrade_df

country_wdi_comtrade_df <- join(country_wdi_df, comtrade_df, by = c("code", "date"), type = "left", match = "all")

In [35]:
# Find the number of columns in country_wdi_comtrade_df

dim(country_wdi_comtrade_df)

[1] 13021  1445

In [36]:
# Delete country.1

#names(country_wdi_comtrade_df)[names(country_wdi_comtrade_df[1441])] <- "un_country_name"

country_wdi_comtrade_df[1441] = NULL

In [37]:
# View country_wdi_comtrade_df

country_wdi_comtrade_df[c(60:65),c(1:3, 11, 1440:1444)]

   code iso2Code country     date
60 AFG  AF       Afghanistan 2019
61 ALB  AL       Albania     1960
62 ALB  AL       Albania     1961
63 ALB  AL       Albania     1962
64 ALB  AL       Albania     1963
65 ALB  AL       Albania     1964
   Women's share of population ages 15+ living with HIV (%) Export Import
60 NA                                                       NA     NA
61 NA                                                       NA     NA
62 NA                                                       NA     NA
63 NA                                                       NA     NA
64 NA                                                       NA     NA
65 NA                                                       NA     NA
   Re-Export Re-Import
60 NA        NA
61 NA        NA
62 NA        NA
63 NA        NA
64 NA        NA
65 NA        NA

In [38]:
# Merge country_wdi_comtrade_df and bloomberg_df

country_wdi_comtrade_bloomberg_df <- join(country_wdi_comtrade_df, bloomberg_df, by = c("code", "date"), type = "left", match = "all")

In [39]:
dim(country_wdi_comtrade_bloomberg_df)

[1] 13021  1449

In [40]:
country_wdi_comtrade_bloomberg_df[1445] = NULL

In [41]:
country_wdi_comtrade_bloomberg_df[c(1105:1110),]

     code iso2Code country region                adminregion incomeLevel
1105 BEL  BE       Belgium Europe & Central Asia             High income
1106 BEL  BE       Belgium Europe & Central Asia             High income
1107 BEL  BE       Belgium Europe & Central Asia             High income
1108 BEL  BE       Belgium Europe & Central Asia             High income
1109 BEL  BE       Belgium Europe & Central Asia             High income
1110 BEL  BE       Belgium Europe & Central Asia             High income
     lendingType    capitalCity longitude latitude ⋯
1105 Not classified Brussels    4.36761   50.8371  ⋯
1106 Not classified Brussels    4.36761   50.8371  ⋯
1107 Not classified Brussels    4.36761   50.8371  ⋯
1108 Not classified Brussels    4.36761   50.8371  ⋯
1109 Not classified Brussels    4.36761   50.8371  ⋯
1110 Not classified Brussels    4.36761   50.8371  ⋯
     Women who were first married by age 18 (% of women ages 20-24)
1105 NA
1106 NA
1107 NA
1108 NA
1109 NA
1110 NA
     Women's share of population ages 15+ living with HIV (%) Export Import
1105 NA                                                       NA     NA
1106 NA                                                       NA     NA
1107 NA                                                       NA     NA
1108 NA                                                       NA     NA
1109 NA                                                       NA     NA
1110 NA                                                       NA     NA
     Re-Export Re-Import fitch mdy sp csdr_avg
1105 NA        NA        NA    NA  NA NA
1106 NA        NA        NA    NA  NA NA
1107 NA        NA        NA    NA  NA NA
1108 NA        NA        NA    NA  NA NA
1109 NA        NA        NA    NA  NA NA
1110 NA        NA        NA     2  NA  2

In [42]:
# Merge All of the Datasets

df = Reduce(function(x, y) merge(x, y, by = c("country", "date"), all = TRUE), 
            list(country_wdi_comtrade_bloomberg_df,
                 cpia_df, debt_df, wgi_df,
                 doing_business_df, bureaucracy_df, esg_df))

In [46]:
#View df

df = df[-c(13043:13154),]
df[c(60:65),]

   country     date code iso2Code region
60 Afghanistan 2019 AFG  AF       South Asia
61 Albania     1960 ALB  AL       Europe & Central Asia
62 Albania     1961 ALB  AL       Europe & Central Asia
63 Albania     1962 ALB  AL       Europe & Central Asia
64 Albania     1963 ALB  AL       Europe & Central Asia
65 Albania     1964 ALB  AL       Europe & Central Asia
   adminregion                                   incomeLevel
60 South Asia                                    Low income
61 Europe & Central Asia (excluding high income) Upper middle income
62 Europe & Central Asia (excluding high income) Upper middle income
63 Europe & Central Asia (excluding high income) Upper middle income
64 Europe & Central Asia (excluding high income) Upper middle income
65 Europe & Central Asia (excluding high income) Upper middle income
   lendingType capitalCity longitude ⋯
60 IDA         Kabul       69.1761   ⋯
61 IBRD        Tirane      19.8172   ⋯
62 IBRD        Tirane      19.8172   ⋯
63 IBRD        Tirane      19.8172   ⋯
64 IBRD        Tirane      19.8172   ⋯
65 IBRD        Tirane      19.8172   ⋯
   Labor.force.participation.rate..total....of.total.population.ages.15.64...modeled.ILO.estimate.
60 67.772
61     NA
62     NA
63     NA
64     NA
65     NA
   Ratio.of.female.to.male.labor.force.participation.rate......modeled.ILO.estimate.
60 59.47911
61       NA
62       NA
63       NA
64       NA
65       NA
   Unemployment..total....of.total.labor.force...modeled.ILO.estimate.
60 1.519
61    NA
62    NA
63    NA
64    NA
65    NA
   Net.migration Prevalence.of.undernourishment....of.population.
60  NA           NA
61  NA           NA
62  NA           NA
63 -99           NA
64  NA           NA
65  NA           NA
   Life.expectancy.at.birth..total..years.
60     NA
61 62.283
62 63.301
63 64.190
64 64.914
65 65.463
   Fertility.rate..total..births.per.woman.
60    NA
61 6.489
62 6.401
63 6.282
64 6.133
65 5.960
   Population.ages.65.and.above....of.total.population.
60       NA
61 5.410827
62 5.390893
63 5.405407
64 5.435020
65 5.456235
   Unmet.need.for.contraception....of.married.women.ages.15.49.
60 NA
61 NA
62 NA
63 NA
64 NA
65 NA
   Voice.and.Accountability..Estimate.y
60 NA
61 NA
62 NA
63 NA
64 NA
65 NA

----

**Save Data**

In [47]:
write.csv(df, file = "../../2_Inputs/Final/analysis_df.csv")